
<form #f="ngForm" novalidate > <!--Controller toute le formulaire -->
    <div class="mb-3">
      <label for="exampleInputEmail1" class="form-label">Search Price</label>
      <input type="number" class="form-control is-invalid" name="idprice" placeholder="Enter Price" [(ngModel)]="product.price" required #price="ngModel" [ngClass]="{'is-invalid': price.invalid && (price.dirty || price.touched), 'is-valid': price.valid}">
      <div id="validationServer03Feedback1" class="invalid-feedback" *ngIf="price.invalid">
   field Price is required 
    </div>
    </div>
    <div class="mb-3">
        
        <label for="exampleInputEmail1" class="form-label">id</label>
        <input type="number" class="form-control is-invalid" id="idProduct"  name="idProduct"[(ngModel)]="product.id"  required #id="ngModel" [ngClass]="{'is-invalid': id.invalid && (id.dirty || id.touched), 'is-valid': id.valid}" >
        <div id="validationServer03Feedback" class="invalid-feedback" *ngIf="id.invalid">
   field id  is required 
    </div>
    <!--<div class="alert alert-danger" *ngIf="id.invalid">
        Field is required
    </div> -->
      </div>
   
      <div class="mb-3">
        <label for="exampleInputEmail1" class="form-label">t-shirt Title</label>
        <input type="text" class="form-control is-invalid"  name="idTitle" placeholder="Enter T-shirt Title" [(ngModel)]="product.title" required  minlength="3" #title="ngModel"  [ngClass]="{'is-invalid': title.invalid && (title.dirty || title.touched), 'is-valid': title.valid}">
        <div id="validationServer03Feedback" class="invalid-feedback" *ngIf="title.errors?.['required']">
            field Title  is required 
             </div>
             <div id="validationServer03Feedback" class="invalid-feedback" *ngIf="title.errors?.['minlength']">
                field  length min is 3 
                 </div>
       
      </div>
      <div class="mb-3">
        <label for="exampleInputEmail1" class="form-label">Quantity </label>
        <input type="number" class="form-control is-invalid" name="idQuantity"placeholder="Enter Quantity" [(ngModel)]="product.quantity"  required #quantity="ngModel" [ngClass]="{'is-invalid': quantity.invalid && (quantity.dirty ||quantity.touched), 'is-valid': quantity.valid}">
        <div id="validationServer03Feedback1" class="invalid-feedback" *ngIf="quantity.errors?.['required']">
            field Quantity is required 
             </div>
      </div>
    
    <button type="submit" class="btn btn-primary" [disabled]="f.invalid" (click)="ajouter()" >Add Product</button>
  </form>
  {{product.id}}
  <p></p>
  {{product.title}}
